@model IEnumerable<TcgBindersReloaded.Entities.Binder>

@{
ViewData["Title"] = "Binder Index";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your Binders</h1>

<p>
    <a asp-action="BinderCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            <a asp-action="BinderCards" asp-route-id="@item.Id" class="no-underline">
                @item.Name
            </a>
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Change Name</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete Binder</a>
        </td>
    </tr>
}
    </tbody>
</table>